body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Header */
header {
    background-color: red; 
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Navigatie */
nav {
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Secties */
section {
    padding: 20px;
}

section h2 {
    color: red;
}


article {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

article img {
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    max-width: 150px;
}

article p {
    margin: 5px 0;
}


button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: red;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
